/*导入antd*/
@import "~antd/dist/antd.css";

/*REM*/
html{
  font-size: 100px;
}
#root{
  margin: 0 auto;
  max-width: 414px;
}
.loginHeadBox{
  width: 100%;

  .logoBox {
    height: 1.22rem;
    line-height: 1.22rem;
    position: relative;
    img {
      position: absolute;
      display: block;
      width: 1.22rem;
      height: .48rem;
      top: 50%;
      left: 50%;
      margin-top: -.24rem;
      margin-left: -.61rem;
    }
  }

}

