.performBd {
  background-color: rgba(45, 45, 45, 0.12);
  //头部区域
  .headerBox {
    position: relative;
    width: 4.14rem;
    height: 2.1rem;
    border: 1rem;
    background-color: #FFFFFF;

    .back{
      position: absolute;
      top:0;
      left: 0;
      width: 4.14rem;
      height: 1.5rem;
      background: orange;
    }

    .itemBox{
      position:absolute ;
      top:.3rem;
      left: .2rem;
      width: 4.2rem;
      height: 1.7rem;
      overflow: hidden;
      .pic{
        width: 1.2rem;
        height: 1.6rem;
        background-color: aqua;
        img{
          width: 100%;
          height: 100%;
        }
      }

      .title{
        position: absolute;
        top:0;
        left: 1.3rem;
        color: #FFF;
        font-family: '微软雅黑';
        font-size: .18rem;
        width: 2.55rem;
        height: .42rem;
      }
      .city{
        position: absolute;
        top:.6rem;
        left: 1.3rem;
        font-size: .2rem;
        color: #FFFFFF;
      }
      .price{
        position: absolute;
        top:1.2rem;
        left: 1.3rem;
        font-size: .25rem;
        font-weight: bold;
        color: red;
        .priceUnit{
          color: rgba(0, 0, 0, 0.21);
          font-size: .15rem;
        }
      }
    }
  }

  .holdTime {
    position: relative;
    width: 4.02rem;
    height: .2rem;
    font-size: .14rem;
    border-top: 1px solid rgba(34, 34, 34, 0.11);
    border-bottom: 1px solid rgba(34, 34, 34, 0.13);
    padding: .152rem .148rem;
    background-color: #FFFFFF;
  }
  .holdPlace {
    position: relative;
    width: 4.02rem;
    height: .2rem;
    font-size: .15rem;
    border-bottom: .01rem;
    padding: .152rem .148rem;
    border-bottom: 1px solid rgba(34, 34, 34, 0.13);
    background-color: #FFFFFF;
  }
  .introduce{
    margin: .11rem 0;
    position: relative;
    width: 100%;
    height: 1.5rem;
    border-bottom: .01rem;
    border-top: .01rem;
    background-color: #FFFFFF;
    .desTitle{
      position: absolute;
      top:.1rem;
      left: .2rem;
      font-size: .2rem;
      font-weight: bold;
    }
    .desShort{
      position: absolute;
      top:.5rem;
      left: .2rem;
    }
    .desMore{
      position: absolute;
      top:1rem;
      font-size: .2rem;
      width: 100%;
      height: .5rem;
      text-align: center;
      a{
        color: rgba(231, 24, 33, 0.77);
      }
    }
  }
  .noticeOfPurchase{
    position: relative;
    width: 100%;
    height: 2.38rem;
    border-top-width: .01rem;
    border-bottom-width: .01rem;
    background-color: #FFFFFF;

    .noticeTitle{
      position: absolute;
      left: .2rem;
      top:.1rem;
      font-size: .2rem;
      font-weight: bold;
      width: 3.8rem;
      height: .54rem;
    }
    .infoPurchase{
      position: absolute;
      top:.5rem;
      left: .3rem;
      font-size: .1rem;

      .noticeItem{
        font-size: .1rem;
        .noticeTitle{
          font-size: .1rem;
          font-weight: bold;
        }
        .noticeCont{
          font-size: .1rem;
        }
      }
    }
    .noticeMore{
      position: absolute;
      top:1.8rem;
      font-size: .2rem;
      width: 100%;
      height: .5rem;
      text-align: center;
      a{
        color: rgba(231, 24, 33, 0.77);
      }
    }
  }
}















